*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
.top{
    height: 100vh;
    width: 100%;
    background-image: url(My\ image\ 6.jpeg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: teal;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:gold;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: teal;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: teal;
    transition: .5s;
}
.detail{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: teal;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h2{
    color: teal;
    margin: 20px 0px 20px;
    font-size: 45px;
    text-align: center;

}
h3{
    color: teal;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: teal;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 500px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid gold;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: black;
    color: gold;
    box-shadow: 0px 0px 0px black,0px 0px 15px rgb(61, 61, 61);
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(15, 11, 11);
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 50%;
    border-color: white;
    background-color: lightskyblue;
    background-size: 400px;
}
.about-text{
    width: 2000px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: teal;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-text h5{
    color: teal;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: teal;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.button{
    background-color: gold;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: .5s;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;

}
.button:hover{
    background-color: teal;
    border: 20px solid black;
    cursor: pointer;
    scale: 1.2;
}

.service{
    background-color: teal;
    width: 100%;
    padding: 100px 0px;

}
.title h2{
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    overflow-x: hidden;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: teal;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: gold;
}
h5{
    color: gold;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: black;
    font-size: 12px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: black;
    color: gold;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .5s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid teal;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    background-color: teal;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: gold;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: black;
    color: gold;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    scale: 1.2;
}
footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: gold;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 30px;
    color: teal;
    margin-bottom: 20px;
    font-weight: bold;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 50%;
    margin: 22px 10px;
    color: gold;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.popup{
    width: 400px;
    background: black;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: gold;
    visibility: hidden;
    transition: 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup i{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: gold;
    color: black;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 2);

}
